<body>
  <pre id="content"></pre>

  <!-- <a href="nowhere">Placeholder</a> -->

  <script src="https://cdn.flywheel.io/sdk/flywheel-sdk-0.7.0.min.js"></script>
  <script>
    console.log('begin again')

    Flywheel.initExtension().then(extension => {

      console.log('initExtension()')
      console.log('Container Type:', extension.container.container_type);
      console.log('Container ID:', extension.container._id);
      console.log('File Name:', extension.file.name);
      console.log('File ID:', extension.file._id);

      var a = document.createElement('a');
      var linkText = document.createTextNode("FW Launch - Text Edit");
      a.appendChild(linkText);
      a.title = "FW Launch - Text Edit";
      a.href = "fwlaunch://textedit?destination=" + extension.container._id + "&file_name=" + extension.file.name;
      document.body.appendChild(a);

      return extension.getFileText(extension.container, extension.file);
    });
    // }).then(text => {
    //   document.getElementById('content').innerText = text;
    //   console.log('content text set')
    // });
  </script>
</body>